body {
  background: linear-gradient(to bottom right, black, gray) fixed;
}

.color_button {
  padding-top: 15.0em;
  position: relative;
  left: 15em;
}

.btn_layout {
font-size: 16px;
padding: 25px 35px;
border-radius: 10px;
border: 0px;
font-family: Luminari, fantasy;
}

.label_position{
  display: flex;
  padding: 1em;
  margin: 0;
}



#red{
  background-color: red;
}
#blue{
  background-color: blue;
}
#green{
  background-color: green;
}
#yellow{
  background-color: yellow;
}
#orange{
  background-color: orange;
}
#purple{
  background-color: purple;
}
#brown{
  background-color: brown;
}
#cyan{
  background-color: cyan;
}
#gray{
  background-color: gray;
}
